:root {
  --font-family: "Mulish", sans-serif;

  // Colors

  --text: #2f3640;
  --text-white: #f5f6fa;

  --background: #dcdde1;
  --border: #f5f6fa;
  --hint: #718093;

  --light: #82ccdd;
  --primary: #3c6382;
  --dark: #0a3d62;

  --star-gold: #e1b12c;
}
